# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- develop

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      # Write your commands here
      
      echo "Build.BuildId ${Build.BuildId}"
      echo "Build.BuildId $(Build.BuildId)"
      echo "Build.BuildNumber	${Build.BuildNumber}"
      echo "Build.BuildNumber	$(Build.BuildNumber)"