django
djangorestframework
drf-yasg
drf-url-filters
pillow
azure-cognitiveservices-vision-customvision==1.0.0
requests
django-cors-headers
python-dateutil
opencensus==0.7.7
opencensus-context==0.1.1
opencensus-ext-azure==1.0.2
opencensus-ext-stackdriver==0.7.2
channels==2.4.0
