<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Pipeline Configuration-->
    <!--
    1: BGS early filtering -> YOLOv3Tiny -> YOLOv3
    2: BGS early filtering -> YOLOv3
    3: ONNX YOLOv3 on every frame
    4: ONNX YOLOv3Tiny on every frame
    5: Line-based counting
    
    6: ONNX YOLOv3 detection on every frame (without line)
    7: ONNX YOLOv3Tiny detection on every frame (without line)
    -->
    <add key="PplConfig" value="6" />

    <add key="StorageConnectionString" value="" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
    
    <add key="Runtime" value="docker" /> <!--"docker", "vs"-->
  </appSettings>
</configuration>