# For Azure Container Registry
CONTAINER_REGISTRY_NAME="docker.io"
CONTAINER_REGISTRY_USERNAME=""
CONTAINER_REGISTRY_PASSWORD=""

# For Azure IoT Hub
IOTHUB_CONNECTION_STRING=""

# FOR Media Services
SUBSCRIPTION_ID=""
RESOURCE_GROUP=""
TENANT_ID=""
SERVICE_NAME=""
SERVICE_PRINCIPAL_APP_ID=""
SERVICE_PRINCIPAL_SECRET=""

# Inference Module
# LVA_MODE="http"
LVA_MODE="grpc"

# Web Module
CUSTOM_VISION_ENDPOINT=""
CUSTOM_VISION_TRAINING_KEY=""

# AVA Module
AVA_PROVISIONING_TOKEN=""
